<!DOCTYPE html>
<html>
	<head>
        
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
     
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <title>MusicShare</title>
        
    </head>
	<body>        
        <nav>
            <div class="nav-wrapper">
                <a href="/spotifylogin" class="brand-logo left" style="font-size: 92%;margin-left: 20px">Login Spotify<i class="material-icons right">play_circle_outline</i></a>             </i></a>
                <a href="/" class="brand-logo center">MusicShare</a>
                <a href="/signout" class="brand-logo right" style="font-size:92%">Sign Out<i class="material-icons right">account_box</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                </ul>
            </div>
        </nav>


        <br><div style="font-size: 10px; margin-left: 10%;color:blueviolet"><%= msg %></div><br>
        
        <div class="left" style="margin-left: 40px;margin-top:20px">
                <a class="waves-effect waves-light btn" href="/postform"><i class="material-icons right">add</i>Create Post</a>
        </div>
        


        <form action="../controllers/search-controller" method="POST" id="search-form">
            <div class="input-field right" style="width: 35%;margin-right: 10px">
                <i class="material-icons prefix">search</i>
                <input placeholder="" name="username" type="text" class="validate">
                <label for="username">Search Users</label>
            </div>
        </form>
        <br><br><br><br>

        <div class="center" style="font-size: 35px;">
            Main Feed
        </div>

        <hr width="100%">

        <br><br>

        <div id="postArea">

        </div>


        <script src="scripts/home.js"></script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>
