<!DOCTYPE html>
<html>
	<head>
        
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
     
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <title>MusicShare</title>
        
    </head>
	<body>        
        <nav>
            <div class="nav-wrapper">
              <a href="/" class="brand-logo">MusicShare</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
              </ul>
            </div>
        </nav>

        <div style="width:60%;margin:auto;padding-top:20%">
            <ul class="collection with-header">
                <li class="collection-header"><h4 style="text-align:center">Login</h4></li>
                <li class="collection-item center-align">
                    <br><br>
                    
                    <form action="../controllers/login-controller" method="POST" id="login-form">
                        <div class="input-field" style="width:75%;margin:auto">
                                <input name="username" type="text" class="validate">
                                <label for="user_name">Username</label>
                        </div>
                        <br>
                        <div class="input-field" style="width:75%;margin:auto">
                            <input name="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </form>
                    <br><br>
                    <button class="btn waves-effect waves-light" form="login-form" type="submit">Login
                        <i class="material-icons right">check</i>
                    </button>

                    <br><br>

                    <form action="../controllers/register-controller" method="POST" id="register-form">
                    </form>
                    <button class="btn waves-effect waves-light" form="register-form" type="submit" >Sign Up
                            <i class="material-icons right">person</i>
                    </button>
                </li>  
            </ul>
        </div>


        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>